<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/app.css">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../sources/logo.png" alt="">
                    <h2>MY STORAGE <br> SOLUTIONS</h2>
                </div>
            </div>

            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-symbols-outlined">view_list</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">person</span>
                    <h3>Usuarios</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">receipt_long</span>
                    <h3>Relatorios</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">notifications</span>
                    <h3>Notificacoes</h3>
                    <span class="message-count">13</span>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">settings</span>
                    <h3>Configuracoes</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">logout</span>
                    <h3>Sair...</h3>
                </a>
            </div>
        </aside>
        <!-- =========== ASIDE END ============= -->

        <main>
            <div class="top">
                <div class="profile">
                    <h2>Ola <span>Welder</span>, Bom-dia!</h2>
                    <div class="profile-photo">
                        <img src="../sources/profile.png" alt="">
                    </div>
                </div>
            </div>

            <section>
                <div class="buttons-section">
                    <button id="btnCadastrar" class="success"><span class="material-symbols-outlined">package_2</span>Cadastrar</button>
                    <button id="btnAlterar"><span class="material-symbols-outlined alterar">cached</span>Alterar</button>
                    <button id="btnRemover"><span class="material-symbols-outlined">delete</span>Remover</button>
                    <button class="printer"> 
                        <span class="material-symbols-outlined">print</span>
                        <span class="material-symbols-outlined">arrow_drop_down</span></button>
                    <div class="search-button">
                        <span class="material-symbols-outlined">search</span>
                        <input type="text" placeholder="Pesquisar..." ><span class="material-symbols-outlined">
                    </div>
                </div>
                <!-- =========== BUTTONS END =========== -->

                <div class="products-list">
                    <table id="produtosTable" class="grid-table">
                        <thead class="table-head">
                            <tr>
                                <th> <p>Cod.</p> </th>
                                <th id="descricao"> <p>Descricao</p> </th>
                                <th style="width: 120px;"> <p>Tipo</p> </th>
                                <th> <p>Estoque</p> </th>
                                <th class="entradas"> <p>Entradas</p> </th>
                                <th> <p>Saidas</p></th>
                                <th><p>Custo</p></th>
                                <th><p>Preco</p></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                        </tbody>
                    </table>
                </div>
                <!-- =========== PRODUCTS-LIST END =========== -->
            </section>
        </main>
    </div>
    <script src="../scripts/app.js"></script>
    <script src="../scripts/script.js"></script>
</body>
</html>