@import url(general.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  display: flex;
}

.container {
  width: 95%;
  height: 800px;
  max-width: 1800px;
  margin: auto;
}

/* ------------------ LOGO E PROFILE -------------------- */

#top-side {
  display: flex;
  margin-bottom: 1.8rem;
}

#top-side .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
  margin-left: 1.4rem;
}

#top-side .logo-contents {
  width: 250px;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: var(--color-white);
}

#top-side .logo-contents h2 {
  font-style: italic;
  font-size: 19px;
}

#top-side .logo-contents img {
  width: 6rem;
  height: 6rem;
}

#top-side .profile {
  display: flex;
  width: 100%;
  justify-content: end;
}

#top-side .profile .contents {
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
  gap: 2rem;
  margin-right: 1rem;
}

#top-side .profile .contents span {
  text-decoration: underline;
}

/* ------------------ LOGO E PROFILE END -------------------- */

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  gap: 1.8rem;
  background-color: #242e4c;
  padding: 30px;
  border-radius: 20px;
}

/* ------------------ SIDE BAR -------------------- */

.side-bar-container {
  width: 20%;
}

.side-bar-container .sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  border-bottom-left-radius: 2rem;
}

.side-bar-container h3 {
  font-weight: 500;
}

.side-bar-container .sidebar a {
  width: 100%;
  display: flex;
  color: var(--color-info-dark);
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.5rem;
}

.side-bar-container .sidebar a span {
  margin-left: 2rem;
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.side-bar-container .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
}

.side-bar-container .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--color-primary);
}

.side-bar-container .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

.side-bar-container .sidebar a:hover {
  color: var(--color-primary);
}

.side-bar-container .sidebar a:hover span {
  margin-left: 3rem;
}

.side-bar-container .sidebar .message-count {
  background-color: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: 0.4rem;
}

.low-stock .stock-status::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 8px;
}

.in-stock .stock-status::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-right: 8px;
}

/* Remove content para evitar deslocamento */
.low-stock .barra,
.in-stock .barra {
  width: 5px; /* Largura da barra */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.low-stock .barra {
  background-color: red; /* Cor para estoque baixo */
}

.in-stock .barra {
  background-color: green; /* Cor para estoque normal */
}

.table-body tr {
  position: relative; /* Necessário para que a barra se posicione corretamente */
}

/* ------------------ SIDEBAR END -------------------- */

/* ------------------ BOTÕES E TABELA -------------------- */

#produtos-painel {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1.8rem;
}

#produtos-painel .buttons-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#produtos-painel .buttons-section .button {
  position: relative;
  display: flex;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 5px 10px;
  color: var(--color-light);
  background: white;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease;
}

#produtos-painel .buttons-section .button .mensagem {
  color: var(--color-dark);
  display: none;
}

#produtos-painel .buttons-section .button p {
  color: var(--color-light);
}

#produtos-painel .buttons-section .button:hover {
  transform: scale(1.03);
}

#produtos-painel .buttons-section .success {
  background-color: var(--color-success);
  color: var(--color-dark);
  cursor: pointer;
}

#produtos-painel .buttons-section .success p {
  color: var(--color-dark);
}

#produtos-painel .buttons-section .filtro {
  padding: 20px 20px;
}

#produtos-painel .buttons-section .button span {
  font-size: 2.3rem;
  transition: transform 0.5s;
}

#btnAlterar:hover .alterar {
  transform: rotate(180deg);
}

#produtos-painel .buttons-section .search-button {
  display: flex;
  align-items: center;
  text-align: center;
  background: white;
  border-radius: 10px;
  width: 30%;
  justify-content: start;
}

#produtos-painel .buttons-section .search-button span {
  margin-left: 15px;
  margin-right: 10px;
  font-size: 2.5rem;
}

#produtos-painel .buttons-section .search-button input {
  width: 100%;
  font-size: 1.6rem;
  margin-top: 5px;
}

.buttons-section .button.selected-row {
  color: var(--color-dark);
  cursor: pointer;
}

.buttons-section .button.selected-row:hover {
  transform: scale(1.03);
}

.filtro.button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  min-width: 175px;
}

.filtro.button:hover {
  background-color: #e0e0e0;
  z-index: 2;
}

.filtro.button .filtro-texto {
  margin-right: 8px;
  font-size: 22.4px !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
}

.dropdown-content.active {
  display: block;
}

.dropdown-content p {
  font-size: 22.4px !important;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.filtro.button:hover .dropdown-content {
  display: block;
}

/* ---------- BUTTONS END -------------- */

/* ------------------ TABELA -------------------- */

#produtos-painel .products-list {
  border-radius: 0 0 2rem;
  width: 100%;
  overflow: auto;
  padding: 2px;
}

.products-list::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.products-list::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 0.3rem;
  background-color: var(--color-info-dark);
}

.products-list:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

#produtos-painel .products-list table {
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  border-collapse: collapse;
  table-layout: fixed; /* Garante que todas as colunas tenham a mesma largura */
}

.table-head th,
.table-body td {
  padding: 10px;
  text-align: center;
  position: relative;
}

.table-head th {
  position: sticky;
  top: 0;
  height: 60px;
}

.table-body td {
  border-bottom: 1px solid var(--color-light);
}

.table-body tr:last-child td {
  border: none;
}

.table-head th p,
.table-body td p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Barra para estoque */
.barra {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px; /* Largura da barra */
  height: 100%;
}

.low-stock .barra {
  background-color: red; /* Cor para estoque baixo */
}

.in-stock .barra {
  background-color: green; /* Cor para estoque normal */
}

.table-body tr {
  position: relative; /* Necessário para que a barra se posicione corretamente */
}

/* ------------------ MEDIA -------------------- */
@media (max-width: 1800px) {
  body {
    height: 100%;
  }
}

@media (max-width: 1113px) {
  .button span {
    padding: 0px 10px;
  }

  .button p {
    display: none;
  }

  #produtos-painel .buttons-section .button:hover .mensagem {
    position: absolute;
    bottom: 100%;
    right: -35%;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    display: block;
  }

  #produtos-painel #btnAlterar:hover .mensagem {
    right: -13%;
  }

  #produtos-painel #btnRemover:hover .mensagem {
    right: -30%;
  }
}
