@import url(general.css);

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 26rem auto 2rem;
}

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    margin-left: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    color: var(--color-white);
}

aside .logo img {
    width: 6rem;
    height: 6rem;
}

/* ------------------ SIDEBAR -------------------- */
aside .sidebar {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: relative;
    top: 3rem;
    border-bottom-left-radius: 2rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.5rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 0.4rem;
}

/* ----------- ASIDE END ------------- */

main {
    display: grid;
    grid-template-rows: 10rem auto;
}

main .top {
    align-self: center;
}

main .top .profile {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    gap: 2rem;
    margin-right: 1rem;
    & span {
        text-decoration: underline;
    }
}

/* ---------- PROFILE END ----------- */

main section {
    margin-top: 5px;
    height: 81vh;
}

main section .buttons-section {
    display: flex;
    justify-content: space-between;
}

main section .buttons-section button{
    display: flex;
    gap: 0.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px 40px;
    color: var(--color-light);
    background: white;
    border-radius: 10px;
    align-items: center;
    transition: all 300ms ease;
}

main section .buttons-section button.success:hover {
    transform: scale(1.03);
}

main section .buttons-section .success {
    background-color: var(--color-success);
    color: var(--color-dark);
    cursor: pointer;
}

main section .buttons-section .printer {
    padding: 20px 20px;
}

main section .buttons-section button span {
    font-size: 2.3rem;
    transition: transform 0.5s;
}

main section .buttons-section button.selected-row:hover span.alterar {
    transform: rotate(180deg);
}

main section .buttons-section .search-button {
    display: flex;
    align-items: center;
    text-align: center;
    background: white;
    border-radius: 10px;
    width: 480px;
    justify-content: start;
    & span {
        margin-left: 15px;
        margin-right: 10px;
        font-size: 2.5rem;
    }
    & input {
        font-size: 1.6rem;
        margin-top: 5px;
    }
}

.buttons-section button.selected-row {
    color: var(--color-dark);
    cursor: pointer;
}

.buttons-section button.selected-row:hover {
    transform: scale(1.03);
}

/* ---------- BUTTONS END -------------- */

main section .products-list {
    margin-top: 2rem;
    height: 69.5vh;
    background: white;
    width: 100%;
    overflow: auto;
    padding: 2px;
}

.products-list::-webkit-scrollbar{
    width: .4rem;
    height: .4rem;
}

.products-list::-webkit-scrollbar-thumb {
    visibility: hidden;
    border-radius: 0.3rem;
    background-color: var(--color-info-dark);
}


.products-list:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}



main section .products-list table{
    width: 100%;
    text-align: center;
    padding: 1.2rem;
    border-collapse: collapse;
    position: relative;
    & .entradas {
        width: 70px;
    }
}

.table-head th {
    position: sticky;
    top: 0;
    height: 60px;
    background: #fff;
    z-index: 1;
    border-bottom: 1px solid #00000081;
}

.table-head th p {
    margin: 0 auto;
    width: fit-content;
    color: inherit;
    cursor: pointer;
}

main section .products-list table tbody tr{
    line-height: 50px;
}

main section .products-list table tbody td{
    border-bottom: 1px solid var(--color-light);
}

main section .products-list table tbody tr:last-child td{
    border: none;
}

main section .products-list table tbody .money {
    font-style: italic;
}

main section .products-list table tbody tr:hover td{
    background-color: var(--color-light);
}

.selected {
    background: var(--color-light);
}

.table-head th:nth-child(2),
.table-body td:nth-child(2){
    width: 35%;
    max-width: 450px;
    & p {
        margin: 0 20px;
        text-align: start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

