
/* Estilos do Popup Principal */
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 320px;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popup-content.closing {
    opacity: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s;
    z-index: 999;
}

.close:hover {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

form button {
    margin-top: 15px;
    padding: 12px;
    background-color: rgba(48, 126, 235);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

form button:hover {
    background-color: rgba(48, 126, 235, 0.800);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos do Popup de Confirmação */
.message {
    position: absolute;
    top: 50%; /* Ajuste para centralizar verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    font-weight: 300;
    color: #2c2928;
    opacity: 0;
    transition: top 0.3s cubic-bezier(.31, .25, .50, 1.50), opacity 0.2s ease-in-out;
    z-index: 2;
    box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.2)
}

.message .closing {
    opacity: 0;
}

.message .check {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    width: 120px;
    height: 110px;
    background: #71c341;
    color: white;
    font-size: 3.8rem;
    padding-top: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: transform 0.2s 0.25s cubic-bezier(.31, .25, .50, 1.50), opacity 0.1s 0.25s ease-in-out;
}

.message .check.scaledown {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.message p {
    font-size: 1.1rem;
    margin: 25px 0px;
    padding: 0;
}

.message p:nth-child(2) {
    font-size: 2.3rem;
    margin: 40px 0px 0px 0px;
}

.message #ok {
    position: relative;
    color: white;
    border: none;
    background: #71c341;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    font-size: 1.2rem;
    transition: background 0.2s ease;
    outline: none;
    cursor: pointer;
}

.message #ok:hover {
    background: lighten(#71c341, 90%);
}

.message #ok:active {
    background: darken(#71c341, 10%);
}
